# Client
packages/client/logs
packages/client/*.log
packages/client/npm-debug.log*
packages/client/yarn-debug.log*
packages/client/yarn-error.log*
packages/client/pnpm-debug.log*
packages/client/lerna-debug.log*
packages/client/node_modules
packages/client/dist
packages/client/dist-ssr
packages/client/*.local
packages/client/.vscode/*
packages/client/!.vscode/extensions.json
packages/client/.idea
packages/client/.DS_Store
packages/client/*.suo
packages/client/*.ntvs*
packages/client/*.njsproj
packages/client/*.sln
packages/client/*.sw?
packages/client/.env

# Server
packages/server/node_modules
packages/server/out
packages/server/dist
packages/server/*.tgz
packages/server/coverage
packages/server/*.lcov
packages/server/logs
packages/server/_.log
packages/server/report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json
packages/server/.eslintcache
packages/server/.cache
packages/server/*.tsbuildinfo
packages/server/.idea
packages/server/.DS_Store
packages/server/.env

# Monorepo
node_modules
*.env
*.env.development.local
*.env.test.local
*.env.production.local
*.env.local